<h1>Community Advice</h1>
<hr>
<br>
{{votes}}
<ul>
  {{#each newAdviceArr}}
  <li class="mb-3">
    {{ phrase }}
    {{#if totalVotes}}
    <br>
    <small>({{ average }} / 5 - Total votes: {{ totalVotes }}) - </small>
    {{/if}}
    <small class="vote">Vote</small>
    <div class="ratingForm">
      <form action="/community-advice/{{_id}}/vote" method="POST" id="{{_id}}">

        <div>

          <label class="rating-label">
            <input type="radio" name="rating" value="1" class="rating"
              onclick="document.getElementById('{{_id}}').submit()">
            <img src="/images/star.png" class="mr-1">
          </label>

          <label class="rating-label">
            <input type="radio" name="rating" value="2" class="rating"
              onclick="document.getElementById('{{_id}}').submit()">
            <img src="/images/star.png" class="mr-1">
          </label>

          <label class="rating-label">
            <input type="radio" name="rating" value="3" class="rating"
              onclick="document.getElementById('{{_id}}').submit()">
            <img src="/images/star.png" class="mr-1">
          </label>

          <label class="rating-label">
            <input type="radio" name="rating" value="4" class="rating"
              onclick="document.getElementById('{{_id}}').submit()">
            <img src="/images/star.png" class="mr-1">
          </label>

          <label class="rating-label">
            <input type="radio" name="rating" value="5" class="rating"
              onclick="document.getElementById('{{_id}}').submit()">
            <img src="/images/star.png">
          </label>

        </div>

      </form>
    </div>

  </li>
  {{/each}}
</ul>

<br>
<hr>

<h5 class="text-center">Create a new advice for the community!</h5>

<form action="/community-advice" method="POST">

  {{> adviceInput }}

  <button type="submit" class="btn btn-dark btn-block">Create A New Advice</button>

</form>

{{> ifErrorMessage }}
{{> ifSuccessMessage }}

<script src="/js/advice-rating.js"></script>