{{#if isAdmin}}
<a href="/moderators/create" class="btn btn-dark">Create New Moderator</a>
{{/if}}
<br>

{{!-- Para cambiar el rol de usuario a moderador, revisar endpoints de readme --}}
{{!-- <form action="">
    <div class="form-group">
        <label for="email">Make a user a moderator</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
</form> --}}

<br>

<ul>
    {{#each moderators}}
        <li>
            {{ name }} {{ lastname }} ({{ email }})

            {{#if ./../isAdmin}}
            <small>- <a href="/moderators/{{ id }}/edit">[Editar]</a></small>

            <form action="/moderators/{{ id }}/delete" method="POST">
                <button type="submit" class="btn btn-danger btn-sm ml-2">Delete moderator</button>
            </form>
            {{/if}}

        </li>
    {{/each}}
</ul>
